body{
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #0000df;
}

.white{
    color: #fff;
}
.t_center{
    text-align: center!important;
}
.t_left{
    text-align: left!important;
}
.fw900{
    font-weight: 900;
}
.pt_100{
    padding-top: 100px;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: .9rem;
    font-weight: 600;
    text-transform: none;
    color: #fff;
}
.actives {
    color: #0000df!important;
}

footer{
    background: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.box-index{
    background: rgba(98, 98, 98, 0.21);
    padding: 20px 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
}

.resposive-img {
    /*height: auto;*/
    max-width: 100%;
}
.box-about{
    padding: 10%;
}
.i-bars i{
    color: #fff;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255, 255, 255, 0.1);
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #0000df;
}
.box-about-services{
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0.32);
    padding: 30px 10px;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.down-services i{
    color: #212529;
}
.down-services i:hover{
    color: #0000df;
}
.img-about{
    margin-top: -100px;
    max-width: 100%;
}
.box-services, .box-contact{
     padding: 10%;
}

/**
 * Button component
 */
.btn-view-img {
  position: relative;
  top: 0;
      left: 105px;
  margin-top: 25%;
  opacity: 0;
  font-size: 1rem;
  color: #fff;
      background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.btn-view-img:focus, .btn:hover {
  color: #111;
  background-color: #fff;
  border-color: #fff;
}

/**
 * Grid styles
 */
.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.45);
  -webkit-transition: background-color .55s ease-in-out;
          transition: background-color .55s ease-in-out;
}
.item__overlay:focus, .item__overlay:hover {
  background-color: rgba(17, 17, 17, 0.05);
}
.item__overlay:focus > button, .item__overlay:hover > button {
  opacity: 1;
}

.grid__sizer,
.grid__item {
  position: relative;
  width: 20%;
  min-width: 16.25rem;
}

.grid__item {
  margin-bottom: .9375rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.grid__item--high,
.grid__item--high img {
  height: 300px;
}

.img-resposive-mansonry {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url(../img/carre.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 3rem;
}
.red{
    color: red;
}
.form-control {
    border-radius: 0px;
    box-shadow: 0px 1px 15px rgba(136, 136, 136, 0.52);
        border: 1px solid rgba(0, 0, 0, 0.08);
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eeeeee;
    outline: 0;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}
.form-group {
    margin-bottom: 2rem;
}

.btn {
    font-weight: 700;
    text-transform: none;
    border: none;
    border-radius: 0px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.btn-submit{
    background: #0000df;
}

#map{
        height:400px;
}
.galereya-top {
                position: fixed;

                background: #f6f6f6;
                background: rgba(246, 246, 246, 0.7);
            }

.galereya-cell-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-box-shadow: inset 0 0 10px 3px transparent;
    box-shadow: inset 0 0 10px 3px transparent;
}

















@media (min-width: 768px){
    header.masthead p {
        font-size: 22px;
        font-weight: 100;
        line-height: 35px;
    }
    .text-1-index{
        font-size: 40px;
    }
    .box-about{
            padding: 140px 70px 0px 140px!important;
    }
    .box-contact{
            padding: 40px 30px 0px 100px!important;
    }
    .about-text-2{
        line-height: 35px;
    }
    .box-services{
        padding: 50px 10px 0px 20px!important;
        line-height: 35px;
    }
    .contai-p{
        padding-left: 100px;
        padding-right: 100px;
    }
    .rmap{
        padding-right: 0px;
    }
    #map{
        height:650px;
    }
}

@media (min-width: 992px){
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33,37,41,.1);
        background-color: #1a1a1a;
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #fff;
    }
}

@media (max-width: 950px){
        #mainNav {
        border-bottom: 1px solid rgba(33,37,41,.1);
        background-color: #1a1a1a;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
    }
}
@media (min-width: 992px){
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #0000df;
    }
}



